list-container {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.list {
    padding: 0;
    margin: auto;
    align-items: center;
}

.list-item {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 8px; 
    border-bottom: 1px solid #ccc; 
}